* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    background-color: #add8e6;
    padding-top: 15px;
    padding-bottom: 15px;
}

header > div:nth-child(1) {
    background-color: #daa520;
    height: 50px;
    margin: auto;
    width: 65%;
}

.flexbox {
    display: flex;
}

.flexbox > div {
    border: 2px dashed black;
    font-size: 25px;
}

.flexbox > .flexitem1 {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 20%;
    padding-left: 10px;
}

.flexbox > .flexitem2 {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
}

.flexitem2 > ul {
    display: flex;
    list-style: none;
}

.flexitem2 li {
    padding: 8px;
}

.flexbox > .flexitem3 {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 20%;
    padding-right: 10px;
}

main > div:nth-child(1) {
    background-color: #00008b;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.flexitem4 {
    width: 50%;
    border: 2px dashed black;
    background-color: #ee82ee;
    height: 80%;
}

























































